@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  padding-top: 50px;
}

.main {
  background-color: #1d2437;
  background-image: url("../images/background.png");
}

.container {
  max-width: 1070px;
  margin: auto;
  color: white;
}

.heroArea {
  display: flex;
}

.heroArea .left-side {
  flex: 1;
}

.heroArea .left-side h1 {
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  margin: 70px 0 30px 0;
}

.heroArea .left-side .subtitle {
  font-size: 16px;
  line-height: 24px;
  color: #999;
  margin-bottom: 30px;
}
.heroArea .left-side .form {
  margin-bottom: 30px;
}

.heroArea .left-side .form input {
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: transparent;
  height: 40px;
  color: white;
  font-size: 14px;
  width: 350px;
  padding: 0 15px;
}

.heroArea .left-side .form button {
  width: 100px;
  height: 40px;
  border: 0;
  font-size: 14px;
  color: white;
  background-color: #0071b7;
  margin-left: 10px;
  cursor: pointer;
}

.heroArea .left-side .form button:hover {
  opacity: 0.5;
}

.heroArea .left-side .techs {
  margin-bottom: 75px;
}

.heroArea .left-side .techs img {
  margin-right: 30px;
}

.heroArea .right-side {
  flex: 1;
  background-image: url("../images/hero.png");
  background-size: 100% auto;
}

/* Info */

.info {
  height: 100px;
  border-bottom: 2px solid #eaeef1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-text {
  font-size: 20px;
  font-weight: bold;
  color: #aaaaaa;
  margin: 0 15px;
}

.info-circle {
  width: 6px;
  height: 6px;
  background-color: #aaaaaa;
  border-radius: 50%;
  margin: 0 10px;
}

/* Instruções */

.inst-container {
  margin: auto;
  max-width: 900px;
  padding: 70px 0;
}

.inst-item {
  border-left: 3px solid #ecf0f3;
  display: flex;
}

.inst-item:last-child {
  border: 0;
}

.inst-circle {
  border-radius: 50%;
  width: 17px;
  height: 17px;
  background-color: #0071b7;
  margin-left: -10px;
}

.inst-text {
  flex: 1;
  margin-left: 50px;
}

.inst-text h2 {
  font-size: 32px;
  color: black;
  margin: -10px 0 20px 0;
}

.inst-text p {
  font-size: 16px;
  line-height: 23px;
  color: #777;
  margin-bottom: 80px;
}

.inst-item:last-child p {
  margin: 0;
}

/* CTA */

.cta {
  background-color: #1d2437;
  border-bottom: 2px solid #333;
}

.cta-container {
  margin: auto;
  max-width: 800px;
  display: flex;
  padding: 80px 0;
  color: #fff;
}

.cta-left {
  flex: 1;
  margin-right: 30px;
}

.cta-left h2 {
  font-size: 40px;
  margin: 0;
}

.cta-left p {
  font-size: 18px;
  line-height: 25px;
  color: #999;
}

.cta-right {
  flex: 1;
  margin-left: 30px;
}

.cta-right input {
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: transparent;
  height: 40px;
  color: white;
  font-size: 14px;
  width: 100%;
  padding: 0 15px;
  margin-bottom: 20px;
}

.cta-right button {
  width: 100px;
  height: 40px;
  border: 0;
  font-size: 14px;
  color: white;
  background-color: #0071b7;
  cursor: pointer;
  width: 100%;
}

.cta-right button:hover {
  opacity: 0.5;
}

/* Rodape */

footer {
  background-color: #1d2437;
  color: #fff;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 1070px;
  padding: 40px 0;
}

.footer-left {
}

.footer-right {
  font-size: 16px;
  color: #999;
  text-align: right;
  line-height: 25px;
}

.footer-right a {
  color: #999;
  text-decoration: none;
}

.footer-right a:hover {
  text-decoration: underline;
}
